<a href="https://colab.research.google.com/github/lovnishverma/Python-Getting-Started/blob/main/Day1_data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [158]:
import pandas as pd

# Two core DS in Pandas

* Series

* Dataframe

In [159]:
# Series in pandas
import pandas as pd
data = [1,2,3,4,5]
series = pd.Series(data)

series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [160]:
# Dataframe in Pandas
data = {
    'Name': ['Japneet', 'Akshada', 'Babita'],
    'Age': [26, 23, 50],
    'City': ['Delhi', 'Shimla', 'Ropar'],
    'Salary': [45000,35000,60000]}

df = pd.DataFrame(data)
df

      Name  Age    City  Salary
0  Japneet   26   Delhi   45000
1  Akshada   23  Shimla   35000
2   Babita   50   Ropar   60000

In [161]:
# Custom indexing in datafram
data = {
    'Name': ['Japneet', 'Akshada', 'Babita'],
    'Age': [26, 23, 50],
    'City': ['Delhi', 'Shimla', 'Ropar'],
    'Salary': [45000,35000,60000]}

df = pd.DataFrame(data, index=['A','B','C'])

df

      Name  Age    City  Salary
A  Japneet   26   Delhi   45000
B  Akshada   23  Shimla   35000
C   Babita   50   Ropar   60000

In [162]:
# Dataframe in Pandas
data = {
    'Name': ['Japneet', 'Akshada', 'Babita'],
    'Age': [26, 23, 50],
    'City': ['Delhi', 'Shimla', 'Ropar'],
    'Salary': [45000,35000,60000]}

df = pd.DataFrame(data)
df

      Name  Age    City  Salary
0  Japneet   26   Delhi   45000
1  Akshada   23  Shimla   35000
2   Babita   50   Ropar   60000

# Basic Operations on Dataframe

In [163]:
df.head(10)

      Name  Age    City  Salary
0  Japneet   26   Delhi   45000
1  Akshada   23  Shimla   35000
2   Babita   50   Ropar   60000

In [164]:
df.tail(10)

      Name  Age    City  Salary
0  Japneet   26   Delhi   45000
1  Akshada   23  Shimla   35000
2   Babita   50   Ropar   60000

In [165]:
df.describe()

             Age        Salary
count   3.000000      3.000000
mean   33.000000  46666.666667
std    14.798649  12583.057392
min    23.000000  35000.000000
25%    24.500000  40000.000000
50%    26.000000  45000.000000
75%    38.000000  52500.000000
max    50.000000  60000.000000

In [166]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
 3   Salary  3 non-null      int64
dtypes: int64(2), object(2)
memory usage: 228.0+ bytes

In [167]:
df.shape

(3, 4)

In [168]:
df.columns

Index(['Name', 'Age', 'City', 'Salary'], dtype='object')

Selecting a  column

In [169]:
age = df['Age']
age

0    26
1    23
2    50
Name: Age, dtype: int64



---

# Loading CSV File

**Method 1**  (Colab Native File Upload)

In [170]:
# df = pd.read_csv('/content/csvdemo.csv')

df

      Name  Age    City  Salary
0  Japneet   26   Delhi   45000
1  Akshada   23  Shimla   35000
2   Babita   50   Ropar   60000

**Method 2**  '(Using GitHub CDN)

In [171]:
df = pd.read_csv('https://raw.githubusercontent.com/lovnishverma/datasets/refs/heads/main/csvdemo.csv')

df

      Name  Age    City  Salary
0  Japneet   26   Delhi   45000
1  Akshada   23  Shimla   35000
2   Babita   50   Ropar   60000

**Method 3**  (Using Google Drive)

In [172]:
# Loading file from GDrive

from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv('/content/drive/MyDrive/csv/csvdemo.csv')

df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

      Name  Age    City  Salary
0  Japneet   26   Delhi   45000
1  Akshada   23  Shimla   35000
2   Babita   50   Ropar   60000

**Method 4**  (Kaggle Hub)  (Recommended for large datasets and competetions)

In [173]:
# Install kagglehub if not already installed
!pip install kagglehub --quiet

# Import and download the dataset
import kagglehub

# Replace with your Kaggle dataset ID (username/dataset-name)
path = kagglehub.dataset_download("princelv84/csvfiles")

# Print path to verify download location
print("Path to dataset files:", path)

Using Colab cache for faster access to the 'csvfiles' dataset.
Path to dataset files: /kaggle/input/csvfiles

In [174]:
!ls /root/.cache/kagglehub/datasets/princelv84/csvfiles/versions/1

csvdemo.csv

In [175]:
# Load CSV from the downloaded path
df_kaggle = pd.read_csv('/root/.cache/kagglehub/datasets/princelv84/csvfiles/versions/1/csvdemo.csv')
df_kaggle.head()

      Name  Age    City  Salary
0  Japneet   26   Delhi   45000
1  Akshada   23  Shimla   35000
2   Babita   50   Ropar   60000

In [176]:
# create copy to df_kaggle to df

df = df_kaggle.copy()
df

      Name  Age    City  Salary
0  Japneet   26   Delhi   45000
1  Akshada   23  Shimla   35000
2   Babita   50   Ropar   60000

In [177]:
# delete a Salary Column

df.drop('Salary', axis=1, inplace=True)

In [178]:
df

      Name  Age    City
0  Japneet   26   Delhi
1  Akshada   23  Shimla
2   Babita   50   Ropar

In [179]:
# Save to CSV
df.to_csv('data.csv', index=False)