<a href="https://colab.research.google.com/github/lovnishverma/Python-Getting-Started/blob/main/got_11_feb_data_preprocessing_got_11_feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import pandas as pd

In [53]:
df = pd.read_csv("https://raw.githubusercontent.com/lovnishverma/datasets/refs/heads/main/iriswithissues.csv")

df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           NaN          0.2     setosa
3             NaN          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
147           6.7          3.0           5.2          2.3  virginica
148           6.3          2.5           5.0          1.9  virginica
149           6.5          3.0           5.2          2.0  virginica
150           6.2          3.4           5.4          2.3  virginica
151           5.9          3.0           5.1          1.8  virginica

[152 rows x 5 columns]

In [54]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    151.000000   152.000000    150.000000   152.000000
mean       5.849007     3.053289      3.778667     1.192105
std        0.823882     0.430911      1.753332     0.763360
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [55]:
# check for missing values
df.isnull().sum()

sepal_length    1
sepal_width     0
petal_length    2
petal_width     0
species         0
dtype: int64

In [56]:
# fill missing valuesin sepal_length with mean of the sepal_length column
df['sepal_length'].fillna(df['sepal_length'].mean(), inplace=True)

/tmp/ipython-input-2262573023.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sepal_length'].fillna(df['sepal_length'].mean(), inplace=True)

In [57]:
# fill missing valuesin sepal_length with mean of the sepal_length column
df['petal_length'].fillna(df['petal_length'].mean(), inplace=True)

/tmp/ipython-input-4076311280.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['petal_length'].fillna(df['petal_length'].mean(), inplace=True)

In [58]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0      5.100000          3.5      1.400000          0.2  setosa
1      4.900000          3.0      1.400000          0.2  setosa
2      4.700000          3.2      3.778667          0.2  setosa
3      5.849007          3.1      1.500000          0.2  setosa
4      5.000000          3.6      1.400000          0.2  setosa

In [59]:
# check for missing values
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [60]:
# check for duplicates values
df.duplicated().sum()

np.int64(5)

In [61]:
# drop duplicates
df.drop_duplicates(inplace=True, keep='first')

In [62]:
# check for duplicates values
df.duplicated().sum()

np.int64(0)

In [63]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    147.000000   147.000000    147.000000   147.000000
mean       5.864959     3.055782      3.812635     1.208844
std        0.822509     0.437009      1.736568     0.757874
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [64]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0      5.100000          3.5      1.400000          0.2  setosa
1      4.900000          3.0      1.400000          0.2  setosa
2      4.700000          3.2      3.778667          0.2  setosa
3      5.849007          3.1      1.500000          0.2  setosa
4      5.000000          3.6      1.400000          0.2  setosa

In [65]:
# encode species column
from sklearn.preprocessing import LabelEncoder # import kiya
le = LabelEncoder() # inilitize
df['species'] = le.fit_transform(df['species'])

In [66]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0      5.100000          3.5      1.400000          0.2        0
1      4.900000          3.0      1.400000          0.2        0
2      4.700000          3.2      3.778667          0.2        0
3      5.849007          3.1      1.500000          0.2        0
4      5.000000          3.6      1.400000          0.2        0

In [69]:
df['species'].value_counts()

species
1    50
2    49
0    48
Name: count, dtype: int64

In [70]:
# slacing (normalization)
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(df)
scaled_data = scaler.transform(df)
scaled_df = pd.DataFrame(scaled_data, columns=df.columns)
scaled_df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0      0.222222     0.625000      0.067797     0.041667      0.0
1      0.166667     0.416667      0.067797     0.041667      0.0
2      0.111111     0.500000      0.470960     0.041667      0.0
3      0.430280     0.458333      0.084746     0.041667      0.0
4      0.194444     0.666667      0.067797     0.041667      0.0