<a href="https://colab.research.google.com/github/lovnishverma/Python-Getting-Started/blob/main/%F0%9F%90%BC_Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**üêº Pandas  Tutorial for Beginners**   -  ¬Æ Lovnish Verma

Pandas is a powerful Python library for data analysis and manipulation. It provides two main data structures:



*   **Series** ‚Äì A one-dimensional labeled array
*   **DataFrame** ‚Äì A two-dimensional labeled table

Let‚Äôs get started with Pandas basics, covering data structures, essential operations, and real-world examples.

1Ô∏è‚É£ Installation
If you haven't installed Pandas yet, use:



```
pip install pandas
```

Or if you're using Google Colab or Jupyter Notebook:

In [ ]:
!pip install pandas

2Ô∏è‚É£ Importing Pandas

In [ ]:
import pandas as pd

3Ô∏è‚É£ Pandas Series (1D Data Structure)
A Series is like a column in Excel, consisting of data and an index.

In [ ]:
#Creating a Series
data = [10, 20, 30, 40]
series = pd.Series(data)
print(series)

Custom Index in a Series

In [ ]:
series = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print(series)

Accessing Series Elements

In [ ]:
print(series['b'])  # Output: 20

4Ô∏è‚É£ Pandas DataFrame (2D Data Structure)
A DataFrame is like an Excel spreadsheet with rows and columns.

Creating a DataFrame

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

5Ô∏è‚É£ Reading & Writing Data

In [ ]:
#Reading CSV Files
df = pd.read_csv('data.csv')

Writing to a CSV File

In [ ]:
df.to_csv('output.csv', index=False)

6Ô∏è‚É£ Data Exploration

Checking First & Last Rows

In [ ]:
print(df.head())  # First 5 rows
print(df.tail())  # Last 5 rows

Basic Info & Statistics

In [ ]:
print(df.info())       # Data types & missing values
print(df.describe())   # Summary statistics

7Ô∏è‚É£ Selecting & Filtering Data

Selecting Columns

In [ ]:
print(df['Name'])  # Selecting a single column
print(df[['Name', 'Age']])  # Selecting multiple columns

Selecting Rows (Using Indexing)

In [ ]:
print(df.iloc[0])   # First row
print(df.loc[1])    # Row with index 1

Filtering Data

In [ ]:
filtered_df = df[df['Age'] > 25]
print(filtered_df)

8Ô∏è‚É£ Modifying Data

Adding a New Column

In [ ]:
df['Salary'] = [50000, 60000, 70000]
print(df)

Updating Values

In [ ]:
df.loc[1, 'Age'] = 32  # Update age of Bob

Deleting a Column

In [ ]:
df.drop(columns=['Salary'], inplace=True)

9Ô∏è‚É£ Handling Missing Data

In [ ]:
#Detect Missing Values
print(df.isnull().sum())  # Count missing values in each column

In [ ]:
#Fill Missing Values
df.fillna(0, inplace=True)

In [ ]:
#Remove Missing Values
df.dropna(inplace=True)

üîü Grouping & Aggregation

In [ ]:
#Grouping Data
grouped_df = df.groupby('City').mean()
print(grouped_df)

In [ ]:
#Aggregating Data
print(df['Age'].sum())    # Total age
print(df['Age'].mean())   # Average age
print(df['Age'].max())    # Maximum age

üîπ Merging & Joining DataFrames

In [ ]:
#Concatenating DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

df_concat = pd.concat([df1, df2])
print(df_concat)

Merging DataFrames

In [ ]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [1, 2, 4], 'Salary': [50000, 60000, 70000]})

df_merged = pd.merge(df1, df2, on='ID', how='inner')  # inner, left, right, outer
print(df_merged)

üìå Real-World Example
Analyzing a CSV File

In [ ]:
df = pd.read_csv('employees.csv')

# Show top rows
print(df.head())

# Find average salary
print(df['Salary'].mean())

# Find employees from New York
ny_employees = df[df['City'] == 'New York']
print(ny_employees)

# Save to a new CSV file
ny_employees.to_csv('ny_employees.csv', index=False)

üéØ **Summary**

‚úÖ **Pandas Series** ‚Äì 1D labeled array

‚úÖ **Pandas DataFrame** ‚Äì 2D table-like structure

‚úÖ **Data Manipulation** ‚Äì Selecting, filtering, updating

‚úÖ **Handling Missing Data** ‚Äì Filling/removing missing values

‚úÖ **Aggregation & Grouping** ‚Äì Analyzing large datasets

‚úÖ **Reading/Writing Data** ‚Äì Import/export CSV files

*Made with ‚ù§Ô∏è by Lovnish Verma* ‚ù§